{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Scan Ruang Server</title>    

    <!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{% static 'css/pilihruangserver.css' %}" rel="stylesheet">
  </head>
  <body>
    
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
</svg>

<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <a class="d-flex align-items-center text-dark text-decoration-none"><img src="{% static 'images/fln_logo_small.png' %}" width="40" height="40"></a>
        <span class="fs-4">Welcome, {{ user.first_name }} {{ user.last_name }}</span>
      </a>
    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Scan QR</h1>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card rounded-3 shadow-sm mx-auto" style="width: 20rem;">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Arahkan Kamera ke QR Code</h4>
          </div>
          <div class="card-body text-center">
            <div style="width: 280px" id="reader"></div>
          </div>
        </div>
      </div>
  </body>
  <script src="{% static 'js/html5-qrcode.min.js' %}"></script>
  <script>
    function onScanSuccess(decodedText, decodedResult) {
      decodedResult = 'scan/' + decodedText;
      location.replace(decodedResult);
    }

    var html5QrcodeScanner = new Html5QrcodeScanner(
        "reader", { fps: 10, qrbox: 180 });
    html5QrcodeScanner.render(onScanSuccess);
  </script>

</html>